@page
@model FQCS.Admin.WebAdmin.Pages.ProductionBatch.CreateModel
@{
    var apiUrl = WebAdmin.Settings.Instance.ApiUrl;
}

@section head {
    <!-- Select2 -->
    <link rel="stylesheet" href="/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@Model.Info.Title</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Constants.Routing.DASHBOARD">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="@Constants.Routing.PRODUCTION_BATCH">Production batch</a></li>
                    <li class="breadcrumb-item active">@Model.Info.Title</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- jquery validation -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-info-circle mr-1"></i>
                            Info
                        </h3>
                    </div>
                    <!-- form start -->
                    <form role="form" id="form-main">
                        <div class="card-body">
                            <div class="form-group">
                                <label>Code</label>
                                <input type="text" name="code" class="form-control" placeholder="Please enter code">
                            </div>
                            <div class="form-group">
                                <label>Information</label>
                                <textarea name="info" class="form-control" placeholder="Please enter batch information"></textarea>
                            </div>
                            <div class="form-group w-25">
                                <label>Total amount</label>
                                <input type="number" step="1" name="total_amount" class="form-control" placeholder="Please enter amount">
                            </div>
                            <div class="form-group w-50">
                                <label>Production line</label>
                                <select class="form-control select2" name="production_line_id">
                                    <option value="">Not selected</option>
                                </select>
                            </div>
                            <div class="form-group w-50">
                                <label>Product model</label>
                                <select class="form-control select2" name="product_model_id">
                                    <option value="">Not selected</option>
                                </select>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-check mr-1"></i>
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

@section scripts {

    <!-- jquery-validation -->
    <script src="/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="/plugins/jquery-validation/additional-methods.min.js"></script>
    <!-- Select2 -->
    <script src="/plugins/select2/js/select2.full.min.js"></script>
	<script type="text/javascript">
        $(document).ready(function () {
            $('.select2').select2();
            getProductionLines();
            getProductModels();
            $('#form-main').validate({
                submitHandler: confirmSubmit,
                rules: {
                    code: {
                        required: true,
                        minlength: 5,
                        maxlength: 50,
                    },
                    production_line_id: {
                        required: true,
                    },
                    product_model_id: {
                        required: true,
                    },
					total_amount: {
						required: true,
						min: 0,
						max: 10000000,
					},
                },
                messages: {
                    code: {
                        required: "Code is required",
						minlength: "Code must be at least 5 characters long",
						maxlength: "Code must be at most 50 characters long",
                    },
                    production_line_id: {
                        required: "Must belong to a production line",
                    },
                    product_model_id: {
                        required: "Must define product model",
                    },
					total_amount: {
						required: "Total amount is required",
						min: "Total amount must be between 0 and 10000000",
						max: "Total amount must be between 0 and 10000000",
					},
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
        });

        function confirmSubmit() {
            confirmAlert().then((result) => {
                if (result.value)
                    submitData();
            });
        }

        function submitData() {
            const model = {};
            model.code = $('[name=code]').val();
            model.info = $('[name=info]').val();
            model.total_amount = $('[name=total_amount]').val();
            model.production_line_id = $('[name=production_line_id]').val();
            model.product_model_id = $('[name=product_model_id]').val();
            changeLoading(true);
            $.ajax({
                url: '@apiUrl/@Business.Constants.ApiEndpoint.PRODUCTION_BATCH_API',
                type: 'post',
                contentType: 'application/json',
                data: JSON.stringify(model),
                success: (respData) => {
                    successAlert("Created successfully").then(() => {
                        location.href = '@Constants.Routing.PRODUCTION_BATCH';
                    });
                },
                error: (resp) => {
                    handleGeneralError(resp);
                },
                complete: () => {
                    changeLoading(false);
                }
            });
        }

        function getProductionLines() {
            changeLoading(true);
            const data = {};
            data.load_all = true;
            data.fields = '@ProductionLineQueryProjection.SELECT';
            $.ajax({
                url: '@apiUrl/@Business.Constants.ApiEndpoint.PRODUCTION_LINE_API',
                type: 'get',
                data: data,
                success: (respData) => {
                    console.log(respData);
                    let data = respData.data.list;
                    let select = $('#form-main [name=production_line_id]');
                    for (var i = 0; i < data.length; i++) {
                        select.append(
                            $('<option value="' + data[i].id + '">').append(data[i].code)
                        );
                    }
                },
                error: (data) => {
                    handleGeneralError(data);
                },
                complete: () => {
                    changeLoading(false);
                }
            });
        }

        function getProductModels() {
            changeLoading(true);
            const data = {};
            data.load_all = true;
            data.fields = '@ProductModelQueryProjection.SELECT';
            $.ajax({
                url: '@apiUrl/@Business.Constants.ApiEndpoint.PRODUCT_MODEL_API',
                type: 'get',
                data: data,
                success: (respData) => {
                    console.log(respData);
                    let data = respData.data.list;
                    let select = $('#form-main [name=product_model_id]');
                    for (var i = 0; i < data.length; i++) {
                        select.append(
                            $('<option value="' + data[i].id + '">').append(data[i].code)
                        );
                    }
                },
                error: (data) => {
                    handleGeneralError(data);
                },
                complete: () => {
                    changeLoading(false);
                }
            });
        }
	</script>
}
