@page
@model FQCS.Admin.WebAdmin.Pages.ProductionBatch.DetailModel
@{
    var apiUrl = WebAdmin.Settings.Instance.ApiUrl;
}

@section head {
    <!-- Select2 -->
    <link rel="stylesheet" href="/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@Model.Info.Title</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Constants.Routing.DASHBOARD">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="@Constants.Routing.PRODUCTION_BATCH">Production batch</a></li>
                    <li class="breadcrumb-item active">@Model.Info.Title</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- jquery validation -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-info-circle mr-1"></i>
                            Info
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" id="form-main">
                        <div class="card-body">
                            <div class="form-group text-right" id="operation">

                            </div>
                            <hr />
                            <div class="form-group">
                                <label>Id</label>
                                <input type="text" name="id" class="form-control" disabled value="@Model.Id">
                            </div>
                            <div class="form-group">
                                <label>Status</label>
                                <p name="status">
                                </p>
                            </div>
                            <div class="form-group">
                                <label>Code</label>
                                <input type="text" name="code" class="form-control" placeholder="Please enter code">
                            </div>
                            <div class="form-group">
                                <label>Information</label>
                                <textarea name="info" class="form-control" placeholder="Please enter batch information"></textarea>
                            </div>
                            <div class="form-group w-25">
                                <label>Total amount</label>
                                <input type="number" step="1" name="total_amount" class="form-control" placeholder="Please enter amount">
                            </div>
                            <div class="form-group">
                                <label>Production line</label>
                                <p>
                                    <a href="#" name="production_line"></a>
                                </p>
                            </div>
                            <div class="form-group">
                                <label>Product model</label>
                                <p>
                                    <a href="#" name="product_model"></a>
                                </p>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-check mr-1"></i>
                                Update
                            </button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

@section scripts {
    <!-- jquery-validation -->
    <script src="/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="/plugins/jquery-validation/additional-methods.min.js"></script>
    <!-- Select2 -->
    <script src="/plugins/select2/js/select2.full.min.js"></script>
    <script type="text/javascript">
        let tempData = null;
        $(document).ready(async function () {
            $('.select2').select2();
            getData();
            $('#form-main').validate({
                submitHandler: confirmSubmit,
                rules: {
                    code: {
                        required: true,
                    },
                },
                messages: {
                    code: {
                        required: "Code required",
                    },
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
        });

        function getData() {
            changeLoading(true);
            return $.ajax({
                url: '@apiUrl/@Business.Constants.ApiEndpoint.PRODUCTION_BATCH_API',
                type: 'get',
                data: {
                    id: @Model.Id,
                    fields: '@ProductionBatchQueryProjection.INFO,@ProductionBatchQueryProjection.P_LINE,@ProductionBatchQueryProjection.P_MODEL',
                    single_only: true
                },
                success: (respData) => {
                    console.log(respData);
                    let data = respData.data.single;
                    tempData = data;
                    processData(data);
                },
                error: (resp) => {
                    handleGeneralError(resp, '@Constants.Routing.PRODUCTION_BATCH');
                },
                complete: () => {
                    changeLoading(false);
                }
            });
        }

        function processData(data) {
            const formMain = $('#form-main');
            formMain.find('[name=code]').val(data.code);
            formMain.find('[name=info]').val(data.info);
            formMain.find('[name=total_amount]').val(data.total_amount);
            formMain.find('[name=status]').html(data.status_display);
            formMain.find('[name=production_line]').html(data.production_line.code);
            formMain.find('[name=product_model]').html(data.product_model.name);
            let op = $('#operation');
            switch (data.status) {
                case @((int)Data.Constants.BatchStatus.New):
                    op.append(getOpBtn('start'));
                    break;
                case @((int)Data.Constants.BatchStatus.Started):
                    op.append(getOpBtn('pause'));
                    op.append(getOpBtn('finish'));
                    break;
                case @((int)Data.Constants.BatchStatus.Paused):
                    op.append(getOpBtn('start'));
                    op.append(getOpBtn('finish'));
                    break;
            }

        }

        function getOpBtn(type) {
            switch (type) {
                case "start":
                    return $('<button type="button" class="btn btn-primary ml-2" onclick="confirmSubmitChangeStatus(@((int)Data.Constants.BatchStatus.Started))">').append(
                        $('<i class="fa fa-play"></i>')
                    );
                case "pause":
                    return $('<button type="button" class="btn btn-danger ml-2" onclick="confirmSubmitChangeStatus(@((int)Data.Constants.BatchStatus.Paused))">').append(
                        $('<i class="fa fa-pause"></i>')
                    );
                case "finish":
                    return $('<button type="button" class="btn btn-success ml-2" onclick="confirmSubmitChangeStatus(@((int)Data.Constants.BatchStatus.Finished))">').append(
                        $('<i class="fa fa-check"></i>')
                    );
            }
            return null;
        }

        function confirmSubmit() {
            confirmAlert().then((result) => {
                if (result.value)
                    submitData();
            });
        }

        function submitData() {
            const model = {};
            const formMain = $('#form-main');
            model.code = formMain.find('[name=code]').val();
            model.info = formMain.find('[name=info]').val();
            model.total_amount = formMain.find('[name=total_amount]').val();
            changeLoading(true);
            $.ajax({
                url: '@apiUrl/@Business.Constants.ApiEndpoint.PRODUCTION_BATCH_API/@Model.Id',
                type: 'patch',
                contentType: 'application/json',
                data: JSON.stringify(model),
                success: (respData) => {
                    successAlert("Updated successfully");
                },
                error: (resp) => {
                    handleGeneralError(resp);
                },
                complete: () => {
                    changeLoading(false);
                }
            });
        }

        function confirmSubmitChangeStatus(status) {
            confirmAlert().then((result) => {
                if (result.value)
                    submitChangeStatus(status);
            });
        }

        function submitChangeStatus(status) {
            const model = {};
            model.status = status;
            changeLoading(true);
            $.ajax({
                url: '@apiUrl/@Business.Constants.ApiEndpoint.PRODUCTION_BATCH_API/@Model.Id/status',
                type: 'patch',
                contentType: 'application/json',
                data: JSON.stringify(model),
                success: (respData) => {
                    successAlert("Updated successfully").then(() => {
                        location.reload();
                    });
                },
                error: (resp) => {
                    handleGeneralError(resp);
                },
                complete: () => {
                    changeLoading(false);
                }
            });
        }

    </script>
}
